<!doctype html>
<!--
*******************************************************************

[D e v i s ,   blog_single.html ]

    Name         :  Davis - Portfolio and News Template

    Version      :  1.0 

    Author       :  Pixel_Factory

    Author URI   :  http://themeforest.net/user/Pixel_Factory

    Author Email : h.nafees.anwar@gmail.com

*******************************************************************
-->
<html>

<head>

    <!--title-->
    <title>BetaKit - simples como um click</title>

    <!--meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--favicon-->
    <link rel="icon" href="images/favicon.png">

    <!--***********-->
    <!--StyleSheets-->
    <!--***********-->

    <!--Bootstrap-->
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <!--Plugin & Libs-->
    <link type="text/css" rel="stylesheet" href="lib/themify-icons/themify-icons.css">
    <link type="text/css" rel="stylesheet" href="lib/magnific-popup/magnific-popup.css">

    <!--Stylesheets-->
    <link type="text/css" rel="stylesheet" href="css/spacings.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/colorsheet.css">
    <link type="text/css" rel="stylesheet" href="css/responsive.css">

</head>

<body>
    
    <div class="loader">
        <div class="loader-element"></div>
    </div>

    <!--Menu Button-->
    <div class="menu-btn">
        <a href="#" class="ti-menu ti-close"></a>
    </div>

    <!--****-->
    <!--Menu-->
    <!--****-->
    <div class="menu pt-50 pb-50">

        <div class="full-height">

            <div class="vertical-center">

                <!--Navigation-->
                <ul class="navigation">
                    <li><a class="local" href="index.html#section-home">Home</a></li>
                    <li><a class="local" href="index.html#section-about">Sobre</a></li>
                    <li><a class="local" href="index.html#section-portfolio">Portfolio</a></li>
                    <li><a class="local" href="index.html#section-blog">Blog</a></li>
                    <li><a class="local" href="index.html#section-contact">Quem somos</a></li>
                </ul>

            </div>

        </div>

    </div>

    <!--***********-->
    <!--Page Header-->
    <!--***********-->
    <div class="section-page-header section page-header-blog">

        <!--Background-->
        <div class="page-header-background">
            <div class="mask"></div>
        </div>

        <div class="full-height">

            <div class="vertical-center">

                <div class="container">

                    <!--Heading-->
                    <div class="page-header-content">
                        <h2 class="colored">Blog Single Page</h2>
                        <p class="navigator"><a href="#" class="link-white">Home</a> <i class="ti-angle-double-right"></i> <a href="#" class="link-white">Portfolio Single</a></p>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--*******************-->
    <!--Blog Single Section-->
    <!--*******************-->
    <div class="section section-blog-single pt-100 pb-100">

        <div class="container">

            <!--Blog Body-->
            <div class="blog-body">

                <!--Heading-->
                <div class="blog-heading">
                    <h2 class="colored">The quick brown fox jumps over the lazy dog.</h2>
                </div>

                <!--Media-->
                <div class="blog-media">
                    <img alt="" src="images/blog/image_1.jpg">
                </div>

                <!--Data-->
                <div class="blog-data">

                    <p>

                        Date Published :
                        <!--Date-->
                        <span class="blog-data-date colored">Aug 1, 2017</span> Posted By :
                        <!--Author-->
                        <span><a href="#" class="link-colored">Admin</a></span> Tags:
                        <!--Tags-->
                        <span class="blog-data-tag"><a href="#">Technology</a></span>
                        <span class="blog-data-tag"><a href="#">Trends</a></span>
                        <span class="blog-data-tag"><a href="#">Design</a></span>

                    </p>

                </div>
                
                <div class="mt-30"></div>
                
                <!--Pagaraph-->
                <div class="blog-paragraph first">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                
                <!--List-->
                <div class="blog-list">
                    <ul class="arrow-list">
                        <li><i class="ti-angle-right"></i> Pellentesque eu elit eu nibh finibus fringilla vitae.</li>
                        <li><i class="ti-angle-right"></i> Duis porttitor tellus ultrices, varius nunc vel.</li>
                        <li><i class="ti-angle-right"></i> Morbi aliquet libero at commodo blandit.</li>
                        <li><i class="ti-angle-right"></i> Aliquam posuere tortor sit amet.</li>
                        <li><i class="ti-angle-right"></i> Morbi aliquet libero at commodo blandit.</li>
                    </ul>

                </div>
                <!--Pagaraph-->
                <div class="blog-paragraph">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <!--Quote-->
                <div class="blog-quote">
                    <blockquote>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</blockquote>
                </div>
                <!--Pagaraph-->
                <div class="blog-paragraph">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>

            </div>

        </div>

    </div>

    <!--******-->
    <!--Footer-->
    <!--******-->
    <div class="section section-footer pt-70 pb-70">

        <div class="container">

            <div class="clearfix">

                <!--Social Media-->
                <div class="social-media">

                    <ul>

                        <li>
                            <a href="#" class="ti-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="ti-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="ti-instagram"></a>
                        </li>
                        <li>
                            <a href="#" class="ti-linkedin"></a>
                        </li>
                        <li>
                            <a href="#" class="ti-pinterest"></a>
                        </li>

                    </ul>

                </div>

                <!--Copyright-->
                <div class="copy-right">
                    <p>contato.betakit@gmail.com</p>
                </div>

            </div>

        </div>

    </div>

    <!--**********-->
    <!--JavaScript-->
    <!--**********-->

    <!--Plugin & Libs-->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/type-it/typeit.min.js"></script>
    <script type="text/javascript" src="lib/isotop/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="lib/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!--Custom JavaScript-->
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>
