<!doctype html>

<!--
*******************************************************************

[D e v i s ,   index.html ]

    Name         :  Davis - Portfolio and News Template

    Version      :  1.0 

    Author       :  Pixel_Factory

    Author URI   :  http://themeforest.net/user/Pixel_Factory

    Author Email : h.nafees.anwar@gmail.com

*******************************************************************
-->

<html>

<head>

    <!--title-->
    <title>BetaKit - simples como um click</title>

    <!--meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--favicon-->
    <link rel="icon" href="images/favicon.png">

    <!--***********-->
    <!--StyleSheets-->
    <!--***********-->

    <!--Bootstrap-->
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <!--Plugin & Libs-->
    <link type="text/css" rel="stylesheet" href="lib/themify-icons/themify-icons.css">
    <link type="text/css" rel="stylesheet" href="lib/magnific-popup/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="lib/jquery.bxslider/jquery.bxslider.min.css">

    <!--Stylesheets-->
    <link type="text/css" rel="stylesheet" href="css/spacings.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/colorsheet.css">
    <link type="text/css" rel="stylesheet" href="css/responsive.css">

</head>

<body>
    
    <div class="loader">
        <div class="loader-element"></div>
    </div>

    <!--Menu Button-->
    <div class="menu-btn">
        <a href="#" class="ti-menu ti-close"></a>
    </div>

    <!--****-->
    <!--Menu-->
    <!--****-->
    <div class="menu pt-50 pb-50">

        <div class="full-height">

            <div class="vertical-center">

                <!--Navigation-->
                <ul class="navigation">
                    <li class="active"><a class="local" href="#section-home">Home</a></li>
                    <li><a class="local" href="#section-about">Sobre</a></li>
                    <li><a class="local" href="#section-portfolio">Portfolio</a></li>
                    <li><a class="local" href="#section-blog">Blog</a></li>
                    <li><a class="local" href="#section-contact">Quem somos</a></li>
                </ul>

            </div>

        </div>

    </div>

    <!--************-->
    <!--Home Section-->
    <!--************-->
    <div id="section-home" class="section section-home image-bg">

        <!--background-->
        <div class="home-background">
            
            <video autoplay loop muted poster="images/home_bg.jpg" class="bg-video">
                <source src="videos/home_bg.mp4" type="video/mp4">
                <source src="videos/home_bg.webm" type="video/webm">
                <source src="videos/home_bg.ogv" type="video/ogg">
            </video>
            <div class="mask"></div>
        </div>

        <div class="full-height">

            <div class="vertical-center">

                <div class="container">

                    <!--Home Content (Large Heading)-->
                    <div class="home-content">
                        <h1 class="type-it"></h1>
                    </div>

                </div>

            </div>

        </div>

        <!--Down Button-->
        <div class="down-btn">
            <a class="ti-angle-down"></a>
        </div>

    </div>

    <!--*************-->
    <!--About Section-->
    <!--*************-->
    <div id="section-about" class="section section-about pt-100 pb-100">

        <div class="container">

            <div class="about-wrap clearfix">

                <!--About Image (Profile Picture Backgound Image Used Please refer CSS)-->
                <div class="about-image">
                    <div class="image"></div>
                </div>

                <!--About Section Text (Introduction)-->
                <div class="about-text">

                    <div class="section-heading">
                        <h2 class="colored">Sobre</h2>
                    </div>
                    <div class="mt-20"></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                    <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="mb-30"></div>

                    <!--Signature-->
<!--
                    <div class="about-signature">
                        <img alt="" src="images/signature.png">
                    </div>
-->
                </div>

            </div>

        </div>

    </div>

    <!--*****************-->
    <!--Portfolio Section-->
    <!--*****************-->
    <div id="section-portfolio" class="section section-portfolio pt-100 pb-100">

        <div class="container">

            <!--Portfolio Controls (Filter Buttons)-->
<!--
            <div class="portfolio-controls">
                <button type="button" class="control active" data-filter="*">All</button>
                <button type="button" class="control" data-filter=".images">Images</button>
                <button type="button" class="control" data-filter=".videos">Videos</button>
                <button type="button" class="control" data-filter=".links">Links</button>
            </div>
-->

            <div class="mt-60"></div>

            <div class="portfolio-container">

                <!--Single Portfolio Item-->
                <div class="mix videos">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_1.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="https://www.youtube.com/watch?v=XQcQuB3-jgE" class="ti-control-play popup mfp-iframe"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix images">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_2.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="images/portfolio/image_2.jpg" class="ti-search popup mfp-image"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix images">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_3.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="images/portfolio/image_3.jpg" class="ti-search popup mfp-image"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix links">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_4.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="portfolio_single_2.html" class="ti-link"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix links">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_5.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="portfolio_single.html" class="ti-link"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix videos">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_6.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="https://www.youtube.com/watch?v=eJxA7s9si4A" class="ti-control-play popup mfp-iframe"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix links">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_7.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="portfolio_single_2.html" class="ti-link"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix images">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_8.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="images/portfolio/image_8.jpg" class="ti-search popup mfp-image"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix videos">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_9.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="https://www.youtube.com/watch?v=peK5AbPr9mA" class="ti-control-play popup mfp-iframe"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix images">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_10.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="images/portfolio/image_10.jpg" class="ti-search popup mfp-image"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix links">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_11.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="portfolio_single.html" class="ti-link"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix images">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_12.jpg">
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="images/portfolio/image_12.jpg" class="ti-search popup mfp-image"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

            </div>

            <div class="mt-80"></div>


        </div>

    </div>

    <!--************-->
    <!--Blog Section-->
    <!--************-->
    <div id="section-blog" class="section section-blog pt-100 pb-100">

        <div class="container">

            <!--Heading-->
            <div class="section-heading text-center">
                <h2 class="colored">Últimas Postagens</h2>
            </div>

            <div class="mt-60"></div>

            <div class="row clearfix">

                <div class="col-md-4">
                    <!--Single Blog Item-->
                    <div class="blog-item">

                        <div class="blog-item-image">
                            <img alt="" src="images/blog/thumbs/thumb_1.jpg">
                            <div class="blog-tags">
                                <ul>
                                    <li><a href="#">palestra</a></li>
                                    <li><a href="#">vivência</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="blog-item-text">

                            <h4 class="blog-item-heading"><a href="blog_single.html" class="link-colored">Isto é um post de blog</a></h4>
                            <p class="blog-item-date">7 Jul, 2017</p>
                            <a href="blog_single.html" class="button button-sm button-dark">Mais</a>

                        </div>

                    </div>
                    <!--Single Blog Item [ E N D ] -->
                </div>

                <div class="col-md-4">
                    <!--Single Blog Item-->
                    <div class="blog-item">

                        <div class="blog-item-image">
                            <img alt="" src="images/blog/thumbs/thumb_2.jpg">
                            <div class="blog-tags">
                                <ul>
                                    <li><a href="#">palestra</a></li>
                                    <li><a href="#">metodologia</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="blog-item-text">

                            <h4 class="blog-item-heading"><a href="blog_single.html" class="link-colored">Outro post de blog</a></h4>
                            <p class="blog-item-date">5 Jul, 2017</p>
                            <a href="blog_single.html" class="button button-sm button-dark">Mais</a>

                        </div>

                    </div>
                    <!--Single Blog Item [ E N D ] -->
                </div>

                <div class="col-md-4">
                    <!--Single Blog Item-->
                    <div class="blog-item">

                        <div class="blog-item-image">
                            <img alt="" src="images/blog/thumbs/thumb_3.jpg">
                            <div class="blog-tags">
                                <ul>
                                    <li><a href="#">exposição</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="blog-item-text">

                            <h4 class="blog-item-heading"><a href="blog_single.html" class="link-colored">Mais um post aqui.</a></h4>
                            <p class="blog-item-date">2 Jul, 2017</p>
                            <a href="blog_single.html" class="button button-sm button-dark">Mais</a>

                        </div>

                    </div>
                    <!--Single Blog Item [ E N D ] -->
                </div>

            </div>

            <div class="mt-80"></div>

            <!--Load More Button-->
<!--
            <div class="blog-load-more">
                <a href="blog_3_col.html" class="button button-lg button-colored">More Posts</a>
            </div>
-->

        </div>

    </div>

    <!--***************-->
    <!--Contact Section-->
    <!--************-->
    <div id="section-contact" class="section section-contact pt-100 pb-100">

        <div class="container">

            <!--Heading-->
            <div class="section-heading text-center">
                <h2 class="colored">Quem somos</h2>
            </div>
            <div class="mt-60"></div>

            <div class="portfolio-container">

                <!--Single Portfolio Item-->
                <div class="mix videos">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_2.jpg">
                            <h4>Cassia Fernandez</h4>
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="https://www.youtube.com/watch?v=XQcQuB3-jgE" class="ti-control-play popup mfp-iframe"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix images">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/thumb_2.jpg">
                            <h4>Nathan Tafla</h4>
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="https://www.youtube.com/watch?v=XQcQuB3-jgE" class="ti-control-play popup mfp-iframe"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix images">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/portfolio/thumbs/lina.jpg">
                            <h4>Lina Lopes</h4>
                        </div>
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="https://www.youtube.com/watch?v=XQcQuB3-jgE" class="ti-control-play popup mfp-iframe"></a>
                        </div>

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

            </div>

        </div>

    </div>

    <!--******-->
    <!--Footer-->
    <!--******-->
    <div class="section section-footer pt-70 pb-70">

        <div class="container">

            <div class="clearfix">

                <!--Social Media-->
                <div class="social-media">

                    <ul>

                        <li>
                            <a href="#" class="ti-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="ti-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="ti-instagram"></a>
                        </li>
                        <li>
                            <a href="#" class="ti-linkedin"></a>
                        </li>
                        <li>
                            <a href="#" class="ti-pinterest"></a>
                        </li>

                    </ul>

                </div>

                <!--Copyright-->
                <div class="copy-right">
                    <p>contato.betakit@gmail.com</p>
                </div>

            </div>

        </div>

    </div>

    <!--**********-->
    <!--JavaScript-->
    <!--**********-->

    <!--Plugin & Libs-->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/type-it/typeit.min.js"></script>
    <script type="text/javascript" src="lib/isotop/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="lib/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="lib/onepagenav/jquery.nav.js"></script>
    <script type="text/javascript" src="lib/easing/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="lib/jquery.bxslider/jquery.bxslider.min.js"></script>

    <!--Custom JavaScript-->
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>
