<!doctype html>

<!--
*******************************************************************

[D e v i s ,   index.html ]

    Name         :  Davis - Portfolio and News Template

    Version      :  1.0 

    Author       :  Pixel_Factory

    Author URI   :  http://themeforest.net/user/Pixel_Factory

    Author Email : h.nafees.anwar@gmail.com

*******************************************************************
-->

<html>

<head>

    <!--title-->
    <title>BetaKit - simples como um click</title>

    <!--meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--favicon-->
    <link rel="icon" href="images/favicon.png">

    <!--***********-->
    <!--StyleSheets-->
    <!--***********-->

    <!--Bootstrap-->
    <link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <!--Plugin & Libs-->
    <link type="text/css" rel="stylesheet" href="lib/themify-icons/themify-icons.css">
    <link type="text/css" rel="stylesheet" href="lib/magnific-popup/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="lib/jquery.bxslider/jquery.bxslider.min.css">

    <!--Stylesheets-->
    <link type="text/css" rel="stylesheet" href="css/spacings.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/colorsheet.css">
    <link type="text/css" rel="stylesheet" href="css/responsive.css">

</head>

<body>
    
    <div class="loader">
        <div class="loader-element"></div>
    </div>

    <!--Menu Button-->
    <div class="menu-btn">
        <a href=""#section-about"" class="ti-menu ti-close"></a>
    </div>

    <!--****-->
    <!--Menu-->
    <!--****-->
    <div class="menu pt-50 pb-50">

        <div class="full-height">

            <div class="vertical-center">

                <!--Navigation-->
                <ul class="navigation">
                    <li class="active"><a class="local" href="#section-home">Home</a></li>
                    <li><a class="local" href="#section-about">Sobre</a></li>
<!--
                    <li><a class="local" href="#section-portfolio">Portfolio</a></li>
                    <li><a class="local" href="#section-blog">Blog</a></li>
-->
                    <li><a class="local" href="#section-contact">Quem somos</a></li>
                </ul>

            </div>

        </div>

    </div>

    <!--************-->
    <!--Home Section-->
    <!--************-->
    <div id="section-home" class="section section-home image-bg">

        <!--background-->
        <div class="home-background">
            
            <video autoplay loop muted poster="images/home_bg.jpg" class="bg-video">
                <source src="videos/beta3.mp4" type="video/mp4">
<!--
                <source src="videos/home_bg.webm" type="video/webm">
                <source src="videos/home_bg.ogv" type="video/ogg">
-->
            </video>
            <div class="mask"></div>
        </div>

        <div class="full-height">

            <div class="vertical-center">

                <div class="container">

                    <!--Home Content (Large Heading)-->
                    <div class="home-content">
                        <h1 class="type-it"></h1>
                    </div>

                </div>

            </div>

        </div>

        <!--Down Button-->
        <div class="down-btn">
            <a class="ti-angle-down"></a>
        </div>

    </div>

    <!--*************-->
    <!--About Section-->
    <!--*************-->
    <div id="section-about" class="section section-about pt-100 pb-100">

        <div class="container">

            <div class="about-wrap clearfix">

                <!--About Image (Profile Picture Backgound Image Used Please refer CSS)-->
                <div class="about-image">
                    <div class="image"></div>
                </div>

                <!--About Section Text (Introduction)-->
                <div class="about-text">

                    <div class="section-heading">
                        <h2 class="colored">Sobre</h2>
                    </div>
                    <div class="mt-20"></div>
                    <p>O BetaKit foi concebido  para permitir a criação de objetos interativos que integram materiais de baixo custo facilmente encontrados (como papelão, pregadores de roupa, parafusos) com sensores e atuadores que podem ser programados para interagir com o meio ambiente.</p>
                    <p> O design do kit busca oferecer pisos baixos (maneiras fáceis de começar) e tetos altos (formas de complexificar os projetos ao longo do tempo), mas também nos preocupamos em oferecer paredes amplas - maneiras de envolver crianças com interesses diversos. </p>
                    <div class="mb-30"></div>

                    <!--Signature-->
<!--
                    <div class="about-signature">
                        <img alt="" src="images/signature.png">
                    </div>
-->
                </div>

            </div>

        </div>

    </div>

    <!--*****************-->
    <!--Portfolio Section-->
    <!--*****************-->


    <!--************-->
    <!--Blog Section-->
    <!--************-->
    

    <!--***************-->
    <!--Contact Section-->
    <!--************-->
    <div id="section-contact" class="section section-contact pt-100 pb-100">

        <div class="container">

            <!--Heading-->
            <div class="section-heading text-center">
                <h2 class="colored">Quem somos</h2>
            </div>
            <div class="mt-60"></div>

            <div class="portfolio-container">

                <!--Single Portfolio Item-->
                <div class="mix videos">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/cassia.jpg">
                            <h4>Cassia Fernandez</h4>
                        </div>
<!--
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="https://www.youtube.com/watch?v=XQcQuB3-jgE" class="ti-control-play popup mfp-iframe"></a>
                        </div>
-->

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix images">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/nathan.jpg">
                            <h4>Nathan Tafla</h4>
                        </div>
<!--
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="https://www.youtube.com/watch?v=XQcQuB3-jgE" class="ti-control-play popup mfp-iframe"></a>
                        </div>
-->

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

                <!--Single Portfolio Item-->
                <div class="mix images">

                    <div class="portfolio-item">

                        <div class="portfolio-image">
                            <img alt="" src="images/lina.jpg">
                            <h4>Lina Lopes</h4>
                        </div>
<!--
                        <div class="mask"></div>
                        <div class="buttons">
                            <a href="https://www.youtube.com/watch?v=XQcQuB3-jgE" class="ti-control-play popup mfp-iframe"></a>
                        </div>
-->

                    </div>

                </div>
                <!--Single Portfolio Item [ E N D ] -->

            </div>

        </div>

    </div>

    <!--******-->
    <!--Footer-->
    <!--******-->
    <div class="section section-footer pt-70 pb-70">

        <div class="container">

            <div class="clearfix">

                <!--Social Media-->
                <div class="social-media">

                    <ul>

                        <li>
                            <a href="https://www.facebook.com/nathan.rabinovitch" class="ti-facebook"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/nathanrab/" class="ti-instagram"></a>
                        </li>

                    </ul>

                </div>

                <!--Copyright-->
                <div class="copy-right">
                    <p>contato.betakit@gmail.com</p>
                </div>

            </div>

        </div>

    </div>

    <!--**********-->
    <!--JavaScript-->
    <!--**********-->

    <!--Plugin & Libs-->
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/type-it/typeit.min.js"></script>
    <script type="text/javascript" src="lib/isotop/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="lib/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="lib/onepagenav/jquery.nav.js"></script>
    <script type="text/javascript" src="lib/easing/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="lib/jquery.bxslider/jquery.bxslider.min.js"></script>

    <!--Custom JavaScript-->
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>
